.container {
  filter: drop-shadow(0px 0px 3px hsl(0 0% 100% / 0.5));
  
}

.canvas {
  width: 500px;
  height: 500px;
  /* aspect-ratio: 2 / 1.7320508; */
  display: block;
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
}
