.wrapper {
  display: flex;
  --tile-size: 250px;
}

.countTile {
  display: flex;
}

.content {
  height: var(--tile-size);
  aspect-ratio: 1/1;
  background: var(--primary-200);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--neutral-900);
  gap: 16px;
  position: relative;
}

.contentBorder {
  width: 10px;
  background-color: var(--primary-500);
  height: 100%;
}

.label {
  text-align: center;
  position: absolute;
  width: var(--tile-size);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  top: var(--space-4);
  font-size: var(--text-lg);
}

.count {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
}

.descriptionPanel {
  max-width: 400px;
  align-self: center;
  /* border-left: 10px solid var(--secondary-500); */
  /* padding-left: var(--space-8); */
  display: flex;
  gap: var(--space-6)
}

.descriptionBorder {
  min-width: 10px;
  background: var(--secondary-500);
}
