@use "../../styles/breakpoints" as *;

.wrapper {
    display: grid;
    gap: var(--space-4);
    grid-template-columns: repeat(auto-fill, 240px);

    @media (max-width: $phone) {
        justify-content: center;
    }
}